<header class="main-header">
    <!-- Logo -->
    <a href="{{ SITE }}" class="logo hidden-md-down">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>S</b>C</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Stats</b>.Coach</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li id="NavMessages" class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="this.removeChild(document.getElementById('NewMessagesSpan'))">
                        <i class="fa fa-envelope-o"></i>
                        {{#newMessages}}
                            <span id="NewMessagesSpan" class="label label-success">{{newMessages}}</span>
                        {{/newMessages}}
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have {{newMessages}}{{^newMessages}}0{{/newMessages}} new messages</li>
                        <!-- inner menu: contains the actual data -->
                        <li><ul class="menu">
                            {{#users}}
                                <li><!-- start message -->
                                    <a href="{{user_uri}}">
                                        <div class="pull-left">
                                            <img src="{{user_profile_picture}}" class="img-circle" alt="User Image"/>
                                        </div>
                                        <h4>
                                            {{first_name}} {{last_name}}
                                            <small><i class="fa fa-clock-o"></i>{{creation_date}}</small>
                                        </h4>
                                        <p>{{message}}</p>
                                    </a>
                                </li><!-- end message -->
                            {{/users}}
                        </ul></li>
                        <li class="footer"><a href="#">See All Messages</a></li>
                    </ul>
                </li>
                <!-- Notifications: style can be found in dropdown.less -->
                <li id="NavNotifications" class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        {{#newNotifications}}
                            <span class="label label-warning">{{newNotifications}}</span>
                        {{/newNotifications}}
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have {{newNotifications}}{{^newNotifications}}0{{/newNotifications}} notifications</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                {{#notifications}}
                                    <li>
                                        <a href="">
                                            <i class="fa {{fa-icon}} text-red"></i> {{notification}}
                                        </a>
                                    </li>
                                {{/notifications}}
                            </ul>
                        </li>
                        <li class="footer"><a href="">View all</a></li>
                    </ul>
                </li>
                <!-- Tasks: style can be found in dropdown.less -->
                <li id="NavTasks" class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>

                        {{#newTasks}}
                            <span class="label label-danger">{{newTasks}}</span>
                        {{/newTasks}}

                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have {{total}}{{^total}}0{{/total}} tasks</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                {{#Tasks}}
                                    <li><!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                {{task}}
                                                <small class="pull-right">{{progress}}%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0"
                                                     aria-valuemax="100">
                                                    <span class="sr-only">{{progress}}% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                {{/Tasks}}

                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#">View all tasks</a>
                        </li>
                    </ul>

                </li>
                <!-- User Account: style can be found in dropdown.less -->

                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{me.user_profile_pic}}" class="user-image" alt="User Image"/>
                        <span class="hidden-xs">{{me.user_first_last}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="{{me.user_profile_pic}}" class="img-circle" alt="User Image"/>
                            <p>
                                {{me.user_first_last}} - {{me.user_sport}}
                                <small>Member since {{me.user_creation_date}}</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="col-xs-4 text-center">
                                <a href="#">Followers</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="<?=SITE?>Rounds/">Rounds</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Following</a>
                            </div>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{{SITEP}}Profile/" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="{{SITE}}Logout/" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <!--li>
                    <a href="" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li-->
            </ul>
        </div>
    </nav>
</header>

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{me.user_profile_pic}}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{me.user_first_last}}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="{{ SITE }}Search/" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..."
                       onkeyup="$.fn.startApplication('{{ SITE }}Search/'+this.value)">
                <span class="input-group-btn">
                                <button name="search" id="search-btn" class="btn btn-flat">
                                    <i class="fa fa-search"></i>
                                </button>
                              </span>
            </div>
        </form>
        <!-- /.search form -->

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>

            <li class="treeview menu-open">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Overview</span> <i
                        class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu" style="display: block;">
                    <li class="active">
                        <a href="{{ SITE }}" onclick=""><i class="fa fa-circle-o"></i>{{me.user_full_name}}
                        </a>
                    </li>
                    {{#my.teams}}
                        <li><a href="{{ SITE }}'Team/{{team_id}}"><i class="fa fa-circle-o"></i>{{team_name}}</a></li>
                    {{/my.teams}}
                </ul>
            </li>

            <!--
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-calendar"></i> <span>Event Schedule</span>
                    <small class="label pull-right bg-red"></small>
                </a>
            </li>
            -->

            <li>
                <a href="{{ SITE }}PostScore/">
                    <i class="fa fa-edit"></i><span>Post Score</span>
                </a>
            </li>

            <li class="treeview"><a href="#"><i class="fa fa-pie-chart"></i><span>Player Reports</span>
                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                {{#my.teams}}
                    <ul class="treeview-menu">
                        <li class="treeview menu-open">
                            <a href="{{SITE}}Team/{{team_id}}/"><i
                                    class="fa fa-circle-o"></i>

                                <span class="pull-right-container"><i
                                        class="fa fa-angle-left pull-right"></i></span>
                            </a>
                            <ul class="treeview-menu" style="display: block;">
                                <li>
                                    <a href="{{ SITE }}Profile/{{me.user_profile_uri}}/"><i
                                            class="fa fa-circle-o"></i>{{user_full_name}}
                                    </a>
                                </li>

                            </ul>

                        </li>
                    </ul>
                {{/my.teams}}

            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Tournaments</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{SITE}}Tournaments/"><i class="fa fa-circle-o"></i> Create New </a></li>
                </ul>
            </li>


            <!-- Messages -->

            <li>
                <a href="/Messages/">
                    <i class="fa fa-envelope"></i> <span>Messages</span>
                    <!--small class="label pull-right bg-yellow">1</small-->
                </a>
            </li>

            <!-- Drills -->

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Drills</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Putting</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Approach</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Accuracy</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Distance</a></li>
                </ul>
            </li>


            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>Account Overview</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <!--
                    <li><a href="#"><i class="fa fa-circle-o"></i> Tournament Finder</a></li>
                    -->
                    <li><a href="/Profile/" onclick=""><i class="fa fa-circle-o"></i> Profile
                        Settings</a></li>
                    <li><a href="/CreateTeam/"><i class="fa fa-circle-o"></i> Create Team</a></li>
                    <li><a href="/JoinTeam/"><i class="fa fa-circle-o"></i> Join Team</a></li>
                </ul>
            </li>


            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i><span>Sports <small>(coming soon)</small></span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Coming Soon</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Basketball</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Volleyball</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Soccer</a></li>

                </ul>
            </li>

            <li><a href="#"><i class="fa fa-book"></i><span>Documentation</span></a></li>

            <li class="header">2016 Overall Leaderboard</li>
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Individual</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Team Standings</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Division</span></a></li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>



