<html>
<head>
    <title>{{ SITE_TITLE }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/view/material-pro/assets/images/favicon.png">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        /*! loadJS: load a JS file asynchronously. [c]2014 @scottjehl, Filament Group, Inc. (Based on http://goo.gl/REQGQ by Paul Irish). Licensed MIT */
        (function (w) {
            let loadJS;
            loadJS = function (src, cb) {
                "use strict";
                let ref = w.document.getElementsByTagName("script")[0];
                let script = w.document.createElement("script");
                script.src = src;
                script.async = true;
                ref.parentNode.insertBefore(script, ref);
                if (cb && typeof(cb) === "function")
                    script.onload = cb;

                return script;
            }; // commonjs
            if (typeof module !== "undefined") module.exports = loadJS;
            else w.loadJS = loadJS;
        }(typeof global !== "undefined" ? global : this));// Hierarchical PJAX Request

        // Facebook Analytics
        window.fbAsyncInit = function () {
            FB.init({
                appId: '{{FACEBOOK_APP_ID}}',
                xfbml: true,
                version: 'v2.11'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            let js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Document ready => jQuery => PJAX => CarbonPHP = loaded
        function OneTimeEvent(ev, cb) {
            return document.addEventListener(ev, function fn(event) {
                document.removeEventListener(ev, fn);
                return cb(event);
            });
        }

        function Carbon(cb) {
            return OneTimeEvent("Carbon", cb)
        }
    </script>
</head>

<!-- Full Width Column -->

<body>

<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
</div>

<section id="wrapper">{{{content}}}</section>


<noscript id="deferred-styles">
    <!-- Bootstrap Core CSS -->

    <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a class="btn btn-block btn-social btn-facebook btn-flat" href='{{facebook_url}}'>
            <i class="fa fa-facebook"></i> Sign in using Facebook</a>

        <a href="{{google_url}}" class="btn btn-block btn-social btn-google btn-flat">
            <i class="fa fa-google-plus"></i> Sign in using Google+</a>
    </div><!-- /.social-auth-links -->


    <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a class="btn btn-block btn-social btn-facebook btn-flat" href='{{facebook_url}}'>
            <i class="fa fa-facebook"></i> Sign in using Facebook</a>

        <a href="{{google_url}}" class="btn btn-block btn-social btn-google btn-flat">
            <i class="fa fa-google-plus"></i> Sign in using Google+</a>
    </div><!-- /.social-auth-links -->

    <link href="/view/material-pro/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/view/material-pro/minisidebar/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="/view/material-pro/minisidebar/css/colors/default-dark.css" id="theme" rel="stylesheet">

</noscript>


<script src="/view/material-pro/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/view/material-pro/assets/plugins/popper/popper.min.js"></script>
<script src="/view/material-pro/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/view/material-pro/minisidebar/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="/view/material-pro/minisidebar/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/view/material-pro/minisidebar/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="/view/material-pro/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="/view/material-pro/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
<!--Custom JavaScript -->
<script src="/view/material-pro/minisidebar/js/custom.min.js"></script>
<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
<script src="/view/material-pro/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>

<script src="/node_modules/jquery-pjax/jquery.pjax.js"></script>
<script src="/node_modules/mustache/mustache.js"></script>
<script src="/vendor/richardtmiles/carbonphp/helpers/Carbon.js"></script>
<script src="/node_modules/jquery-form/src/jquery.form.js"></script>

<script>
    const TEMPLATE = "/{{TEMPLATE}}", APP_VIEW = "/{{APP_VIEW}}", COMPOSER = "/{{COMPOSER}}";

    const carbon = new CarbonPHP();

    carbon.invoke('#wrapper');

    // carbon.start('#pjax-content'); // , 'ws://rootprerogative.com:8888/', false

    carbon.event("Carbon");

    <!-- Global site tag (gtag.js) - Google Analytics -->
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-100885582-1');
</script>

</body>
</html>