<!--
/**
 * Created by IntelliJ IDEA.
 * User: Miles
 * Date: 6/10/17
 * Time: 1:53 AM
 */
-->

<script>
    function resetInput() {
        alert('resetttt')
        $('#c_name').attr('value', '')
        alert($('#c_name').val());

    }

    Carbon(()=>{
        $('#datepicker').load_datepicker();
        $('.knob').load_knob();                // were pre loading
        $('.timepicker').load_timepicker();
        $("[data-mask]").load_inputmask();
        $(".select2").load_select2();

        let tee_boxes,
                Handicap_number,
                total_holes = 18;


        carbon.hasDuplicates = (array) => {
            return (new Set(array)).size !== array.length;
        };

        carbon.hideMeShow = (hide, show) => {
            if (carbon.isset(hide)) $('#' + hide).boxWidget('collapse');
            if (carbon.isset(show)) document.getElementById(show).style.display = "block";
            if (carbon.isset(show)) $('#' + show).boxWidget('expand');
        };

        /* validate course data <int> */

        carbon.validateGeneral = () => {
            let Form = document.forms["addCourse"],
                    fields = ["c_name", "c_access", "c_style", "c_street", "c_city", "c_state", 'tee_boxes', 'Handicap_number'],
                    lengthF = fields.length, e = false;

            for (let i = 0; i < lengthF; i++)
                if (Form[fields[i]].value === null || Form[fields[i]].value === "") {
                    $("#" + fields[i]).removeClass("has-success").addClass("has-error");
                    e = true;
                } else $("#" + fields[i]).removeClass("has-error").addClass("has-success");

            if (e) return alert("Please Fill All Required Field");
            total_holes = Form[fields[2]].value;
            tee_boxes = Form[fields[6]].value;
            Handicap_number = Form[fields[7]].value;
            carbon.new_tee_box_color_input();                                  // Generate new tee boxes
            return null;   // TODO - on success submit
        };
    })
</script>


<!-- Content Header (Page header) -->
<section class="content-header" style="color: #d9edf7">
    <h1>Add Course</h1>
    <ol class="breadcrumb">
        <li><a href="#" style="color: ghostwhite; "><i class="fa fa-paper"></i>Add Course</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content" id="content-pane">
    <form class="form-horizontal" method="post" action="/AddCourse/Basic" name="addCourse">
        <div id="alert"></div>

        <!-- Add Course Main Info -->

        <div class="box box-custom" id='CourseInfo'>

            <div class="box-header with-border" style="width: 100%; text-align: center">
                <h3 class="box-title" style="font-size: 200%">New Course</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="box-body">
                <!-- text input -->
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 ">
                    <!--Course Name -->
                    <div class="form-group col-xs-12 col-md-12">
                        <label for="c_name">Course</label>
                        <input id="c_name" type="text" class="form-control " placeholder="Course Name" name="c_name"
                               value="{{#course}}{{course_name}}{{/course}}">
                    </div>
                    <!-- Type of Course -->
                    <div class="form-group col-xs-12 col-md-12" id="c_access">
                        <div class="col-md-6">
                            <label for="course_type">Access</label>
                            <select id="course_type" name="c_access" class="form-control select2" style="width: 100%;"
                                    onchange="">
                                {{#course}}
                                    <option value="{{course_access}}" selected>
                                        Public
                                    </option>
                                {{/course}}

                                <option value="Public">
                                    Public
                                </option>
                                <option value="Resort">
                                    Resort
                                </option>
                                <option value="Semi-private">
                                    Semi-private
                                </option>
                                <option value="Private">
                                    Private
                                </option>
                            </select>
                        </div>
                        <!-- Number of Holes -->
                        <div class="col-md-6">
                            <label for="" id="c_style">Holes</label>
                            <select name="c_style" id="course_play" class="form-control select2" style="width: 100%;"
                                    onchange="">
                                {{#course}}<option value="{{course_holes}}" {{#Hole_18_Standard}}selected{{/Hole_18_Standard}}>
                                    {{course_holes}} Hole Standard
                                </option>{{/course}}

                                <option value="18">
                                    18 Hole Standard
                                </option>
                                <option value="9">
                                    9 Hole Standard
                                </option>
                            </select>
                        </div>
                    </div><!-- /.form-group -->
                    <!-- /.row  for Select options -->
                    <br> <!-- I need my personal space :P -->
                    <!-- Phone Number -->
                    <div class="form-group col-xs-12 col-md-12" id="c_phone">
                        <label>Phone Number
                            <a style="font-size: smaller; color: #9FAFD1;"> (Optional)</a>
                        </label>
                        <div class="input-group col-xs-12 col-md-12">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <input value="{{course.course_phone}}" type="text" name="c_phone"
                                   id="phone" class="form-control"
                                   data-inputmask='"mask": "(999) 999-9999"' data-mask>
                        </div>
                        <!-- /.input group -->
                    </div>

                    <!-- Street City Address input -->

                    <div class="form-group col-xs-12 col-md-12" id="c_street">
                        <label class="control-label" for="Street">Street</label>
                        <input value="{{course.location.street}}" name="c_street" type="text"
                               class="form-control" id="inputSuccess"
                               placeholder="Street Address">
                    </div>

                    <div class="form-group col-xs-12 col-md-12" id="c_city">
                        <label class="control-label" for="City">City</label>
                        <input value="{{course.location.city}}" type="text" class="form-control"
                               id="City" placeholder="City"
                               name="c_city">
                    </div>

                    <div class="form-group col-xs-12 col-md-12" id="c_state">
                        <label for="state">State</label>
                        <select id="state" name="c_state" class="form-control select2" style="width: 100%;">

                            <option selected="selected" value="{{course.location.state}}{{^course.location.state}}{{state}}{{/course.location.state}}">
                                {{course.location.state}}{{^course.location.state}}{{state}}{{^state}}State Selection{{/state}}{{/course.location.state}}
                            </option>
                            <option value="Alabama">Alabama</option>
                            <option value="Alaska">Alaska</option>
                            <option value="California">California</option>
                            <option value="Delaware">Delaware</option>
                            <option value="Tennessee">Tennessee</option>
                            <option value="Texas">Texas</option>
                            <option value="Washington">Washington</option>
                        </select>
                    </div><!-- /.form-group -->
                    <div class="form-group col-xs-12 col-md-12" id="tee_boxes">
                        <label>Number of Tee Boxes</label>
                        <select class="form-control" name="tee_boxes">
                            <option selected="selected" value="{{course.tee_boxes}}{{^course.tee_boxes}}{{course.tee_boxes}}{{/course.tee_boxes}}">
                                {{course.tee_boxes}}{{^course.tee_boxes}}Tee Boxes{{/course.tee_boxes}}
                            </option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                            <option value="4">Four</option>
                            <option value="5">Five</option>
                        </select>
                    </div><!-- /.form-group -->
                    <div class="form-group col-xs-12 col-md-12" id="Handicap_number">
                        <label>Handicap</label>
                        <select class="form-control" name="Handicap_number">
                            <option selected="selected" value="{{course.handicap_count}}{{^course.handicap_count}}0{{/course.handicap_count}}">
                                {{course.handicap_count}}{{^course.handicap_count}} None{{/course.handicap_count}}
                            </option>
                            <option value="1">One Listed</option>
                            <option value="2">Mens and Womens Listed</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-12 col-md-12" id="pga_professional">
                        <label class="control-label" for="pga_professional">Course PGA Professional
                            <a style="font-size: smaller; color: #9FAFD1;"> (Optional)</a>
                        </label>
                        <input value="{{course.pga_professional}}" type="text" class="form-control" placeholder="Course PRO"
                               name="pga_professional">

                    </div>
                    <div class="form-group col-xs-12 col-md-12" id="course_website">
                        <label class="control-label" for="course_website">Course Website
                            <a style="font-size: smaller; color: #9FAFD1;"> (Optional)</a>
                        </label>
                        <input value="{{course.website}}" type="text" class="form-control"
                               placeholder="Course Website"
                               name="course_website">
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <button type="reset" class="btn btn-default" onclick="resetInput()">Reset</button>
                <!-- button -->
                <button id="next" class="btn btn-info pull-right" type="submit">Next >></button>
            </div>

        </div>

    </form>
</section>

