
    <!-- Content Header (Page header) -->

    <section class="content-header" style="color: ghostwhite">
        <h1>
            Tournament Settings
        </h1>
        <ol class="breadcrumb">
            <li><a href="/" style="color: ghostwhite"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active" style="color: ghostwhite"><a href="#" style="color: ghostwhite">Tournament Setting</a></li>
        </ol>
        <p>
        </p>
    </section>
    <!-- Main content -->
    <!-- USERS LIST -->
    <!-- Main content -->
    <section class="content" id="content-pane">
        <form data-pjax class="form-horizontal dark-box" method="post" action="/TournamentSettings/{{tournament_id}}"
              name="NewTournament">
            <div id="alert"></div>
            <!-- Add Course Main Info -->
            <div class="box box-custom dark-box" id="CourseInfo">
                <div class="box-header with-border dark-box" style="width: 100%; text-align: center">
                    <h3 class="box-title box-title-center-light" style="">New Tournament</h3>
                </div>
                <div class="box-body dark-box" style="color: ghostwhite">
                    <!-- text input -->
                    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 ">
                        <!--Course Name -->
                        <div class="form-group col-xs-12 col-md-12" id="teamCode">
                            <label for="teamName">Tournament Name</label>
                            <input type="text" class="form-control " placeholder="Tournament Name"
                                   name="tournamentName">
                        </div>
                        <!-- Date and time range -->
                        <div class="form-group col-xs-12 col-md-12">
                            <label>Date and time range: (doesnt work)</label>

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="reservationtime"
                                       name="datetimes">
                            </div>
                            <!-- /.input group -->
                        </div>
                        <!-- /.form group -->
                        <div class="form-group col-xs-12 col-md-12">
                            <label for="schoolName">Host</label>
                            <select id="selectHost" class="form-control" name="hostID" required>
                                <option value="{{my.user_id}}"
                                        selected>{{my.user_first_name}} {{my.user_last_name}}</option>
                                {{#my.teams}}
                                    <option value="{{team_id}}">{{team_name}}</option>
                                {{/my.teams}}
                            </select>
                        </div>
                        <div class="form-group col-xs-12 col-md-12" id="teamCode">
                            <label for="schoolName">Alternate Host Name</label>
                            <input id="altHostName" type="text" class="form-control"
                                   value="{{my.user_first_name}} {{my.user_last_name}}"
                                   placeholder="Operating Under Host Name"
                                   name="hostName">
                        </div>
                        <div class="form-group col-xs-12 col-md-12">
                            <label for="schoolName">Tournament Style</label>
                            <select id="selectPlay" class="form-control" name="style" required>
                                <option value="Match_Play" selected>Match Play</option>
                                <option value="Stroke_Play">Stroke Play</option>
                                <option value="Best_Ball">Better/Best Ball</option>
                                <option value="Scramble">Scramble</option>
                                <option value="Alternate_Shot">Alternate Shot (Foursome)</option>
                                <option value="Four_Ball">Four Ball</option>
                                <option value="Skins_Game">Skins Game</option>
                                <option value="Ryder_Cup">Ryder Cup</option>
                                <option value="Shamble">Ryder Cup</option>
                                <option value="Stableford">Stableford</option>
                                <option value="Chapman_or_Pinehurst">Chapman or Pinehurst</option>
                                <option value="Bingo_Bango_Bongo">Bingo Bango Bongo</option>
                                <option value="Flags">Flags</option>
                                <option value="Money_Ball_or_Lone_Ranger">Money Ball or Lone Ranger</option>
                                <option value="Quota_Tournament">Quota Tournament</option>
                                <option value="Peoria_System">Peoria System</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-12 col-md-12">
                            <label>State</label>
                            <select class="form-control select2" style="width: 100%;"
                                    onchange="course_given_states(this)" required>
                                <option selected="selected" disabled="" value="">{{state}}{{^state}}
                                    State{{/state}}</option>
                                <option value="Alabama">Alabama</option>
                                <option value="Alaska">Alaska</option>
                                <option value="Arizona">Arizona</option>
                                <option value="Arkansas">Arkansas</option>
                                <option value="California">California</option>
                                <option value="Colorado">Colorado</option>
                                <option value="Connecticut">Connecticut</option>
                                <option value="Delaware">Delaware</option>
                                <option value="Florida">Florida</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Hawaii">Hawaii</option>
                                <option value="Idaho">Idaho</option>
                                <option value="Illinois">Illinois</option>
                                <option value="Indiana">Indiana</option>
                                <option value="Iowa">Iowa</option>
                                <option value="Kansas">Kansas</option>
                                <option value="Kentucky">Kentucky</option>
                                <option value="Louisiana">Louisiana</option>
                                <option value="Maine">Maine</option>
                                <option value="Maryland">Maryland</option>
                                <option value="Massachusetts">Massachusetts</option>
                                <option value="Michigan">Michigan</option>
                                <option value="Minnesota">Minnesota</option>
                                <option value="Mississippi">Mississippi</option>
                                <option value="Missouri">Missouri</option>
                                <option value="Montana">Montana</option>
                                <option value="Nebraska">Nebraska</option>
                                <option value="Nevada">Nevada</option>
                                <option value="New Hampshire">New Hampshire</option>
                                <option value="New Jersey">New Jersey</option>
                                <option value="New Mexico">New Mexico</option>
                                <option value="New York">New York</option>
                                <option value="North Carolina">North Carolina</option>
                                <option value="North Dakota">North Dakota</option>
                                <option value="Ohio">Ohio</option>
                                <option value="Oklahoma">Oklahoma</option>
                                <option value="Oregon">Oregon</option>
                                <option value="Pennsylvania">Pennsylvania</option>
                                <option value="Rhode Island">Rhode Island</option>
                                <option value="South Carolina">South Carolina</option>
                                <option value="South Dakota">South Dakota</option>
                                <option value="Tennessee">Tennessee</option>
                                <option value="Texas">Texas</option>
                                <option value="Utah">Utah</option>
                                <option value="Vermont">Vermont</option>
                                <option value="Virginia">Virginia</option>
                                <option value="Washington">Washington</option>
                                <option value="West Virginia">West Virginia</option>
                                <option value="Wisconsin">Wisconsin</option>
                                <option value="Wyoming">Wyoming</option>
                                <option value="District of Columbia">District of Columbia</option>
                                <option value="Puerto Rico">Puerto Rico</option>
                                <option value="Guam">Guam</option>
                                <option value="American Samoa">American Samoa</option>
                                <option value="U.S. Virgin Islands">U.S. Virgin Islands</option>
                                <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                            </select>
                        </div><!-- /.form-group -->

                        <div data-pjax class="form-group col-xs-12 col-md-12">
                            <label>Course</label>
                            <select name="courseID" id="course" class="form-control select2"
                                    onchange="redirectIfAdd(this)" style="width: 100%;">
                                <option value="" selected disabled>Course Select</option>
                                <option value="Add">Add Course</option>
                                {{#courses}}
                                    <option value='{{course_id}}'>{{course_name}}</option>
                                {{/courses}}
                            </select>
                        </div><!-- /.form-group -->
                    </div><!-- /.col -->
                </div><!-- body -->


                <div class="box-footer" style="background-color: #2c3b41; color: ghostwhite !important;">
                    <!-- button -->
                    <button class="btn btn-info pull-right" type="submit">Next >></button>
                </div>
            </div>
        </form>
        <div class="callout callout-success">
            <h4 id="playName">Match Play</h4>

            <p id="playDescription">Match play is a hole-by-hole competition where the golfer who makes the best score
                on
                the individual hole wins that hole. The player who wins the most holes throughout the match is the
                winner.
                In match play you are going up against your opponent in head to head competition.</p>
            <br>
            <a href="https://golfcollege.edu/popular-golf-tournament-formats/">Tournament Play Information From Golf
                College</a>
        </div>
    </section>


    <script>
        Carbon(() => {
            $("select#selectHost").change(function () {
                host($("select#selectHost option:selected").text());
            })
            $("select#selectPlay").change(function () {
                info($(this).val());
            })
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                format: 'MM/DD/YYYY h:mm A'
            })

        })

        const playInfo = {
            'Match_Play': 'Match play is a hole-by-hole competition where the golfer who makes the best score on the individual hole wins that hole. The player who wins the most holes throughout the match is the winner. In match play you are going up against your opponent in head to head competition.',
            'Stroke_Play': 'Stroke play is an 18 hole cumulative score competition where the golfer with the best overall score after 18 holes wins. In stroke play you are going up against the course and trying to out play your fellow competitors.',
            'Best_Ball': 'A Better/Best Ball tournament involves teams of 2, 3, or 4 golfers and can be played as match or stroke play. Each team member plays their own ball throughout the round. After each hole, the lowest score from each team member is the score for that team on the hole. For instance, on a par 4 for team 1 golfer A makes a 5 while golfer B makes a 4 and team 2 golfer C makes a 3 while golfer D makes a 6; so team 1 would use golfer B’s score of 4 and team 2 would use golfer C’s score of 3. The team with the lowest best ball score at the end of 18 holes wins. Strong players, low handicappers or scratch golfers, could play individually against a 2 or 3 person team playing best ball.\n' +
                    '\n' +
                    'With larger teams of 3 or 4 golfers you can play 2 Best Balls format, where you take the top two scores from the team members after each hole as the team score.',
            'Scramble': 'Scramble tournaments involve teams of 2, 3, or 4 golfers. In a Scramble tournament each team member tees off on every hole. After the initial tee shots, the team selects the best shot out of their teammates and then each team member plays their next shot from that spot. This continues throughout the rest of the shots on the hole including putting. A player is allowed to place the ball within one club length of the spot of the best shot, but not nearer to the hole. The scramble is often played as stroke play event with the team with the lowest cumulative score after 18 holes winning.',
            'Alternate_Shot': 'Alternate Shot format involves teams of 2 golfers. Players from each team alternate shots on each hole throughout 18 holes. Teammates alternate who hits the tee shot on each hole. For instance team 1 with golfers A & B: on hole 1 golfer A tees off, B hits 2nd shot, A hits 3rd shot, then B putts it in, and then on hole 2 B tees off, A hits 2nd, and so on.',
            'Four_Ball': 'Four Ball format is played with teams of two and uses a better ball scoring method. It can be played as either match play or stroke play. Each golfer plays their own ball during the entire match. For match play, at the end of each hole the golfer with the lowest score wins the hole for their team, earning a point. The team with the most points at the end of the round wins. An example: after hole 1, for team 1 player A scored 5 and player B scored 6, for team 2 player C scored 4 and player D scored 5. Player C has won hole 1 for team 2, earning their team a point. For stroke play, the team’s score on each hole is that of the lowest scoring team member. The team with the lowest score at the end of the round wins.',
            'Skins_Game': 'The Skins Game format can be played individually or as teams. For a Skins Game each hole is worth a skin. The golfer with the lowest score on a hole wins the skin. If two or more players tie then no skin is awarded, instead the skin is carried over to the next hole. The player who earns the most skins at the end is the winner.\n' +
                    '\n' +
                    'Additionally you can also award skins for achievements on each hole such as: a ‘Greenie’ for landing a tee shot onto the green, ‘Sandies’ for a sand save, ‘Woodies’ for saving par after hitting a tree, and ‘Arnies’ for making par without hitting the fairway. You can add your own variations as well.',
            'Ryder_Cup': 'The Ryder Cup is an international tournament between the United Kingdom and the United States. The format of Ryder Cup can be adopted by tournament organizers. The Ryder Cup consists of 2 teams of 12 players each and is typically played over 3 days. The Ryder Cup involves a set of eight Alternate Shot matches, eight Four Ball matches, and 12 singles matches. Each match is played as match play. A point is awarded for each match won. The team with the most points at the conclusion wins.',
            'Shamble': 'A Shamble format tournament can be played with teams of 2, 3, or 4. In a Shamble each golfer tees off on every hole. The team then selects their best drive and each team member plays their second shot from there. After the second shot each golfer plays their own ball for the remainder of the hole. For example, players A & B are on a team, both A & B tee off, A hit the better drive so they select to take their second shot from A’s spot, both A & B hit from A’s spot, and play their own balls throughout the rest of the hole.',
            'Stableford': 'The Stableford format is a stroke play tournament that can be played as an individual or team event using a points system in which the goal is to gain the highest score. A Stableford uses a points system established in the Rules of Golf, under rule 32, and are as follows:\n' +
                    '\n' +
                    'More than 1 over fixed score (or no score returned) – 0 points [Double Bogey or Worse]\n' +
                    'One over fixed score – 1 point [Bogey]\n' +
                    'Fixed score – 2 points [Par]\n' +
                    'One under fixed score – 3 points [Birdie]\n' +
                    'Two under fixed score – 4 points [Eagle]\n' +
                    'Three under fixed score – 5 points [Double Eagle]\n' +
                    'Four under fixed score – 6 points\n' +
                    'The golfer or team who has the highest score after 18 holes is the winner. A Modified Stableford is where you play using a points system other than those set in the Rules of Golf. For example, a past PGA Tour event The International used the following scale:\n' +
                    '\n' +
                    'Double Eagle: 8 points\n' +
                    'Eagle: 5 points\n' +
                    'Birdie: 2 points\n' +
                    'Par: 0 points\n' +
                    'Bogey: -1 point\n' +
                    'Double Bogey or Worse: -3 points\n' +
                    'In a Modified Stableford if handicaps aren’t being used, the points system may be skewed to give every player a fair chance. By categorizing players into flights based upon skill level you can then assign each flight their own point values. For instance, better players in flight A will be awarded 0 points for par while weaker players in flight B will be awarded 1 point for par.',
            'Chapman_or_Pinehurst': 'The Chapman, or Pinehurst, System is a tournament format involving 2-person teams. Chapman merges the styles of several formats into one. To start, each team member takes a tee shot, then teammates switch balls and play each other’s drives. The team then selects the best of their second shots and plays from that spot, the player whose shot wasn’t selected must play the third shot; this means teams may choose their best ball based on who’ll hit the next shot. After the third shot the team alternates shots until the ball is holed.\n' +
                    '\n' +
                    'Here’s an example: Player A & B are on a team, A & B both tee off, A then hits B’s tee shot and B hits A’s tee shot. A and B select which is the best of their 2nd shot, in this example they decide to go with B. A now has to hit the 3rd shot from B’s spot. The players alternate shots and B hits the next shot, then A, and so on, until they make it in the hole.',
            'Bingo_Bango_Bongo': 'Bingo Bango Bongo is a points based tournament format which can be played as a team event or individually. Bingo Bango Bongo offers three opportunities for points on each hole. The first point is awarded for the first player to reach the green, bingo. The second point goes to the player who is closest to the pin once all balls are on the green, bango. The final point is for the person who holes out first, bongo. All shots are taken in order of which player is furthest away from the hole. The player with the most points at the end of the game wins.\n' +
                    '\n' +
                    'Bingo Bango Bongo provides players of all skill levels with chances to earn points each hole. For instance, a player who hits the worst drive would be the first to hit their second shot, giving them the first chance to reach the green and earn the bingo point. For variety you could award a player who wins all three points on a hole with double points.',
            'Flags': 'A Flags tournament is a format in which each golfer starts the round with a designated amount of strokes and plays until they run out. Each golfer in the tournament carries a flag with their name on it as they play and uses it to mark where their final shot landed. The player who makes it through the course the farthest using their designated strokes wins.\n' +
                    '\n' +
                    'The number of strokes a player starts with is determined using the player’s full or partial handicap. For a player with a handicap of 19 they would receive 91 strokes at a par-72 course using full handicaps. When using full handicap there’s a higher probability many golfers will make it through all 18 holes with strokes still left. In that case, players with remaining strokes would return to the 1st tee and continue until they use up all their strokes. Alternatively, after 18 holes players can stop and the golfer with the most strokes left over wins.\n' +
                    '\n' +
                    'In the event of a tie, where multiple players have run out of strokes on the same hole, like the 18th hole, then the player with their final shot closest to the hole wins.',
            'Money_Ball_or_Lone_Ranger': 'Known by a variety of names such as Money Ball, Lone Ranger, Pink Ball, or Yellow Ball. It is played with teams of four, on each hole one team member is designated to use the ‘Money Ball.’ The money ball position is rotated throughout the round; so player A starts with it at the 1st hole, B on the 2nd, C on the 3rd, D on the 4th, and then back to A on the 5th, etc. Some tournaments may in fact designate a special ball, like a colored ball, as the money ball.\n' +
                    '\n' +
                    'For Money Ball, the team takes two scores per hole to count towards the team score, one of which must be the score of the golfer using the money ball. So each hole the team’s score will be that of the money ball player and the lowest score of the other three. The team with the lowest total team score at the end of the round wins.\n' +
                    '\n',
            'Quota_Tournament': 'Quota format involves individuals or teams starting with a certain number of points, based on handicap, then adding points for achievements on the course. Each golfer begins the match with points equivalent to their handicap, so a 3 handicap golfer starts with 3 points and a 10 handicap golfer starts with 10 points. The goal is to reach 36 points, which can vary in some tournaments to 39. Points are awarded to golfers based on performance on the course, and are awarded as follows:\n' +
                    '\n' +
                    'Bogeys – 1 point\n' +
                    'Pars – 2 points\n' +
                    'Birdies – 4 points\n' +
                    'Eagles – 8 points\n' +
                    'The winner of the tournament is the individual who exceeds the target score, 36 or 39, by the largest amount. Alternate options for this format could be changing the point’s value, such as making bogeys worth zero or negative, or starting with a partial handicapped score.\n' +
                    '\n' +
                    'A similar tournament format to Quota is known as Chicago, but the players start with negative points and work towards getting back into the positive.',
            'Peoria_System': 'The Peoria System is a type of 1-day handicapping system for tournaments which can be used when most golfers don’t have established handicaps. Players use the Peoria system after their round to determine a handicap allowance that will be applied to their score.\n' +
                    '\n' +
                    'The golfers’ 1-day handicap using the Peoria System is based on their score over six holes, which are secretly determined by the tournament committee. The holes selected are typically two par 3s, two par 4s and two par 5s, usually one of each from the front and back nine. Golfers competing in the tournament are unaware of which holes were selected until they’ve competed their round.\n' +
                    '\n' +
                    'Once rounds are completed, players present their normal stroke play score, except that double par is the maximum score one can get on a hole. Once all players have finished the six holes selected for the Peoria system are unveiled. Each golfer totals up their scores for the six holes, that number is then tripled, then course par is subtracted from the total; the number is then multiplied by 80%. This is the golfer’s handicap allowance. The allowance gets deducted from the golfers 18 hole score becoming their net Peoria System score.\n' +
                    '\n' +
                    'Here’s an example: A golfer closes his 18 holes with a score of 90. Their total for the six Peoria holes is 30. 30 tripled, or multiplied by three, is 90. 90 minus par 72 is 18. 80% of 18 is 14, rounding off the number. So 14 is the handicap allowance for this golfer. His 18 hole score of 90 is then subtracted by 14 and his resulting Peoria System score is 76.'
        };

        function info(id) {
            if (!(id in playInfo)) {
                carbon.alert('Could not access play information!', 'danger')
            } else {
                $("#playName").html(id.replace('_', ' '));
                $("#playDescription").html(playInfo[id].replace('\n', '<br/><br/>'));
            }
        }

        function host(name) {
            let $altHost = $('#altHostName');
            console.log($altHost.val());
            console.log(name);
            if ($altHost.val() === '{{my.user_first_name}} {{my.user_last_name}}') {
                $altHost.val(name);
            }
        }

        function redirectIfAdd(select) {
            let courseId = select.value;
            // Jump to a new page using Pjax C6
            if (courseId === "Add") {
                carbon.app('/AddCourse/Basic/');
            }
        }


        function course_given_states(select) {

            console.log(select.value);

            let courses = $("#course"); // container to be placed in

            console.log(courses);

            courses.removeAttr('disabled', 'disabled');     // To ensure they at least search for it

            carbon.app('/CoursesByState/' + select.value + '/', '#course');
        }

        Carbon(() => $('.select2').load_select2());
    </script>
